:root {
    --primary: #ff5094;
    --spacing: 4em;
}

html {
    scroll-behavior: smooth
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
}

h1 {
    margin-bottom: 1em;
    font-size: clamp(2em, 5vw, 100px);
    font-weight: bold;
    line-height: 1.4em;
}

h2 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

p {
    margin-bottom: 1em;
    line-height: 1.4em;
}

blockquote {
    margin-top: var(--spacing);
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

cite {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    font-style: normal;
}

section {
    padding: var(--spacing);
}

article {
    display: flex;
    flex-direction: column-reverse;
    max-width: 960px;
    margin: 0 auto var(--spacing);
}

footer {
    padding: var(--spacing);
    text-align: center;
    background-color: #333;
    color: white;
}

.primary-theme {
    background-color: var(--primary);
    color: white;
    --button-color: white;
    --button-hover-color: var(--primary);
}

.neutral-theme {
    background-color: white;
    --button-color: var(--primary);
    --button-hover-color: white;
}

.h1-highlight {
    color: var(--primary);
}

.button {
    display: inline-block;
    margin-top: 1rem;
    padding: 1em;
    border: 2px solid var(--button-color);
    font-weight: bold;
    text-decoration: none;
    color: var(--button-color);
}

.button:hover {
    color: var(--button-hover-color);
    background-color: var(--button-color);
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-link::after {
    content: "";
    width: 0;
    height: 0;
    margin-left: 1em;
    border-style: solid;
    border-width: 10px 7px 0 7px;
    border-color: var(--primary) transparent transparent transparent;
}

.header-link:hover::after {
    border-color: white transparent transparent transparent;
}

.about {
    position: relative;
    margin-bottom: 100px;
}

.about::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -100px;
    width: 0;
    height: 0;
    border-top: 100px solid var(--primary);
    border-right: 100vw solid transparent;
}

.about-container {
    max-width: 960px;
    margin: 0 auto;
}

.about-img {
    display: block;
    max-width: 350px;
    margin: 0 auto var(--spacing);
    filter: grayscale(100%);
   transition: all 0.3s ease-in-out;
}

.about-img:hover {
    filter: grayscale(0%);
}

.article-img {
    margin-bottom: 1rem;
}

.contact {
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.contact::before {
    content: "";
    position: absolute;
    right: 0;
    top: -100px;
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--primary);
    border-left: 100vw solid transparent;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing);
}

.social-item {
    margin: 0 2rem;
}

.social-link {
    display: block;
    width: 60px;
    height: 60px;
    color: transparent;
    background: no-repeat;
    background-size: 60px;
}

.social-link:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.linkedin {
    background-image: url(https://cdn.glitch.com/eff407bc-3fed-446b-ab3f-4ec6f216531a%2Flinkedin.svg?v=1630326267211);
}

.twitter {
    background-image: url(https://cdn.glitch.com/eff407bc-3fed-446b-ab3f-4ec6f216531a%2Ftwitter.svg?v=1630326267072);
}

.github {
    background-image: url(https://cdn.glitch.com/eff407bc-3fed-446b-ab3f-4ec6f216531a%2Fgithub.svg?v=1630326266914);
}

.youtube {
    background-image: url(https://cdn.glitch.com/eff407bc-3fed-446b-ab3f-4ec6f216531a%2Fyoutube.svg?v=1630326266914);
}

@media (min-width: 800px) {
    .about-container {
        display: flex;
    }

    .about-info {
        margin-left: var(--spacing)
    }

    article {
        flex-direction: row;
    }

    .article-img {
        margin-left: var(--spacing);
        max-width: 350px;
        object-fit: cover;
    }
}
